.rank-container{
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding: 2rem;
    background-color: var(--black-opacity);
    border-radius: 20px;
    gap:2rem;
    margin-bottom: 1rem;
}
.row-ranking{
    width: 100%;
    display: inline-flex;
    justify-content:space-around;
    align-items:center;
    flex-direction:row;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius:20px;
    flex-wrap: wrap;
}
.text-rank{
    font-weight:normal;
    font-size: 1.5rem;
    text-align: justify;
    color:var(--white);
}
.resalted{
    font-weight:bold;
}
.player-position{
    padding:1rem;
    border-radius:10px;
    background-color: var(--primary-color);
    border: 5px solid var(--tiny-blue);
    display: flex;
    justify-content:center;
    align-items:center;
    color: var(--white);
    font-weight: bold;
}
.title-rank{
    color: var(--white);
    font-weight:bold;
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem var(--black-opacity);
}